<main class="container mt-5 mb-5">
    <h1 class="fw-bold text-color pb-3">Reservations</h1>
        <div class="main-dash mt-5">
        <table id="data-table" class="display dataTable mb-3 mt-3" style="width: 100%" aria-describedby="example_info">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Reservation Date</th>
                <th>Return Date</th>
                <th>Equipment Name</th>
                <th>Priorité</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.user.name }}</td>
                <td>{{ reservation.demande_date | date: 'yyyy-MM-dd' }}</td>
                <td>{{ reservation.date_retour | date: 'yyyy-MM-dd' }}</td>
                <td>{{ reservation.equipment[0].name}}</td>
                <td>{{ reservation.priorite }}</td>
                <td>{{ reservation.state }}</td>
            </tr>
            </tbody>
        </table>
        </div>
</main>
