<main class="container mt-5 mb-5">
    <h1 class="fw-bold text-color pb-3">Reservations</h1>
    <div class="main-dash mt-5">
        <div class="input-group mb-5 w-75">
            <input type="text" class="form-control" [(ngModel)]="searchState" placeholder="Enter state">
            <button class="btn btn-primary" (click)="searchDemandesByState()">Search</button>
        </div>
  
      <table class="table">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Reservation Date</th>
            <th>Return Date</th>
            <th>Equipment Name</th>
            <th>Priorité</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of filteredReservations">
            <td>{{ reservation.user.name }}</td>
            <td>{{ reservation.demande_date | date: 'yyyy-MM-dd' }}</td>
            <td>{{ reservation.date_retour | date: 'yyyy-MM-dd' }}</td>
            <td>{{ reservation.equipment[0].name }}</td>
            <td>{{ reservation.priorite }}</td>
            <td>{{ reservation.state }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  