<header>
  <nav class="navbar navbar-expand-lg navbar-home px-4 py-2">
      <div class="container">
          <a href="" class="navbar-brand d-flex align-items-center">
              <span class="fs-2 fw-bold text-white">Bâtis<span style="color: #f79020 !important;">Pro</span></span>
          </a>

          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav gap-4">
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white">Company</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white">Marketplace</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white">Features</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white">Team</a>
                  </li>
              </ul>
          </div>

          <div class="d-flex align-items-center">
              <a href="#" class="btn btn-outline-light me-3">Log in</a>
              <a href="#" class="btn btn-light">Get started</a>
          </div>
      </div>
  </nav>
</header>
