<section class="d-flex justify-content-center align-items-center" style="background-color: #242c3f;">
    <div class="px-4 mx-auto text-white text-center w-100">
        <h1 class="mt-5 mb-4 text-center font-extrabold">Lorem Ipsum Dolor Sit Amet</h1>
        <p class="mb-5 fs-5 text-center font-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button  class="btn main-btn text-white fs-4 fw-bold py-2 px-4" id="">Discover More</button>
    </div>
    <div class="me-2">
        <img [src]="imageUrl" alt="pro">
    </div>
</section>
<app-equipment></app-equipment>
