<div class="container mt-4">
  <h2>List of Devis</h2>

  <div *ngIf="DevisList && DevisList.length">
    <table class="table">
      <thead>
        <tr>
          <th>Devis ID</th>
          <th>Demande Reference</th>
          <th>Demande Date</th>
          <th>Total Price</th>
          <th>Approved</th>
          <th>Action</th> <!-- New column for the action button -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let devisItem of DevisList">
          <td>{{ devisItem.demande.demandeID }}</td>
          <td>{{ devisItem.demande.reference }}</td>
          <td>{{ devisItem.demande.demandeDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ devisItem.totalPrix | currency }}</td>
          <td>
            <div *ngIf="devisItem.approved" class="alert alert-success" role="alert">
              Approved
            </div>
            <div *ngIf="!devisItem.approved" class="alert alert-danger" role="alert">
              Declined
            </div>
          </td>
          <td>
            <!-- <app-approval-button [devisId]="devisItem.devisId" [conditions]="devisItem.conditions"></app-approval-button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
